        <!-- 
            PreviewFn -- The Story So Far...
            page.initialize-jimaworks
            Jan 14, 2019: interactive scaling solution
            Jan 14, 2019:2031 text box etc alignments
            Jan 15, 2019:2031 control buttons:"Buy" button to pogodan product page
            Feb 08, 2019:0858 RBG to text color codes (#ffffff== white #FF0000==red>>DarkGreenified red borders)
            Feb 15, 2019:1611 fn-ify the Preview page so can unify all functionality in define-prev and propagate uniformly.  white>>Ivory; green>>darkgreen
            Feb 17, 2019:2000 edits for all text boxes except variable-length plaque
            Feb 18, 2019:1700 edits for variable-length plaque
        -->
        
        <script>// <![CDATA[
        var currentPreviewScale = 1.0 ;
        var previewScaleMultiple = 1.25 ;  // ### globalize? ###
        // start small...
            currentPreviewScale /= previewScaleMultiple ;
            
        function getImgWidthAndHeight(url, callback) {
            var img = new Image();
            img.src = url;
            img.onload = function() { callback(this.width, this.height); }
        }
        
                /*
                            var shipImg = webMapImg;
                            img.src = shipImg;
                            shipX = img.width ;
                            shipY = img.height ;
                            console.log("shipImg=="+shipImg+" shipX=="+shipX+" shipY=="+shipY) ; //  ### not working ###
                */

        function IncreasePreviewScaleMultiple() {
            currentPreviewScale = currentPreviewScale * previewScaleMultiple  ;
            RelationShipsPreviewZ("mockup", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;
        }
        
        function DecreasePreviewScaleMultiple() {
            currentPreviewScale = currentPreviewScale / previewScaleMultiple  ;
            RelationShipsPreviewZ("mockup", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;
        }
        
        function ReturnToCallingPage() {
            window.location.href=document.referrer ;
        }
        
        function BackToPrevLevel(previewRole) {
            alert("previewRole="+previewRole)
            if(previewRole==="editTitle") {
                RelationShipsPreviewZ("edit", "showFrame") ;
            }
            else if(previewRole==="editOrigin") {
                RelationShipsPreviewZ("edit", "showFrame") ;
            }
            else if(previewRole==="editDestination") {
                RelationShipsPreviewZ("edit", "showFrame") ;
            }
            else if(previewRole==="editShipInfo") {
                RelationShipsPreviewZ("edit", "showFrame") ;
            }
            else if(previewRole==="editPlaque") {
                RelationShipsPreviewZ("edit", "showFrame") ;
            }
            else {
                ReturnToCallingPage() ;
            }
        }
        
        function SaveCurrentState() {
            window.location.href="https://jimaworks.com/pages/saveandreturnlater" ;
        }
        
        function GoToBuyPage() {
            window.location.href="https://jimaworks.com/products/pogo-ship" ; //"https://jimaworks.com/cart" ;
        }
        
        function FeaturesPage() {
            window.location.href="https://jimaworks.com/pages/product-anatomy" ;
        }
        
        function SizePage() {
            window.location.href="https://jimaworks.com/pages/product-sizes" ;
        }
        
        function PricePage() {
            window.location.href="https://jimaworks.com/pages/prices" ;
        }
        
        function EditPage() {
            // alert("(Edit page not implemented yet)") ;
            RelationShipsPreviewZ("edit", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;  // ### RetunButton? ###
        } 
        
        function editTitleTextBox() {
            RelationShipsPreviewZ("editTitle", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;  // ### RetunButton? ###
        }
        
            function enterTitleText() {
                var titleTextBoxEntry1 ;
                var titleTextBoxEntry2 ;
                var titleTextBoxEntry3 ;

                titleTextBoxEntry1 = document.getElementById("enterTitleLine1").value;
                titleTextBoxEntry2 = document.getElementById("enterTitleLine2").value;
                titleTextBoxEntry3 = document.getElementById("enterTitleLine3").value;

                document.getElementById("titleTextBoxL1").innerHTML = titleTextBoxEntry1;
                document.getElementById("titleTextBoxL2").innerHTML = titleTextBoxEntry2;
                document.getElementById("titleTextBoxL3").innerHTML = titleTextBoxEntry3;

                localStorage.TitleLine1 = titleTextBoxEntry1 ;
                localStorage.TitleLine2 = titleTextBoxEntry2 ;
                localStorage.TitleLine3 = titleTextBoxEntry3 ;
             
            }
        
        function editOriginTextBox() {
            RelationShipsPreviewZ("editOrigin", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;  // ### RetunButton? ###
        }
        
            function enterOriginText() {
                var originTextBoxEntry1 ;
                var originTextBoxEntry2 ;

                originTextBoxEntry1 = document.getElementById("enterOriginLine1").value;
                originTextBoxEntry2 = document.getElementById("enterOriginLine2").value;
                
                document.getElementById("OriginTextBoxL1").innerHTML = originTextBoxEntry1;
                document.getElementById("OriginTextBoxL2").innerHTML = originTextBoxEntry2;
                
                localStorage.OriginsLine1 = originTextBoxEntry1 ;
                localStorage.OriginsLine2 = originTextBoxEntry2 ;
            }
        
        function editDestinationTextBox() {
            RelationShipsPreviewZ("editDestination", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;  // ### RetunButton? ###
        }
        
            function enterDestinationText() {
                var destinationTextBoxEntry1 ;
                var destinationTextBoxEntry2 ;
                
                destinationTextBoxEntry1 = document.getElementById("enterDestinyLine1").value;
                destinationTextBoxEntry2 = document.getElementById("enterDestinyLine2").value;

                document.getElementById("destinationTextBoxL1").innerHTML = destinationTextBoxEntry1;
                document.getElementById("destinationTextBoxL2").innerHTML = destinationTextBoxEntry2;

                localStorage.DestinyLine1 = destinationTextBoxEntry1 ;
                localStorage.DestinyLine2 = destinationTextBoxEntry2 ;
            }
        
        function editShipInfoTextBox() {
            RelationShipsPreviewZ("editShipInfo", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;  // ### RetunButton? ###
        }
        
             function enterShipInfoText() {   // ### Three? ###
                var shipInfoTextBoxEntry1 ;
                var shipInfoTextBoxEntry2 ;

                shipInfoTextBoxEntry1 = document.getElementById("enterShipInfoLine1").value;
                shipInfoTextBoxEntry2 = document.getElementById("enterShipInfoLine2").value;
                
                document.getElementById("shipInfoTextBoxL1").innerHTML = shipInfoTextBoxEntry1;
                document.getElementById("shipInfoTextBoxL2").innerHTML = shipInfoTextBoxEntry2;
                
                localStorage.ShipInfoLine1 = shipInfoTextBoxEntry1 ;
                localStorage.ShipInfoLine2 = shipInfoTextBoxEntry2 ;
            }
        
       function editPlaqueTextBox() {
            RelationShipsPreviewZ("editPlaque", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;  // ### RetunButton? ###
        }
        
            function enterPlaqueText(lineNumber, newText) {
                //alert('enterPlaqueText(): lineNumber='+lineNumber+' newText='+newText)                
                var numAvailPlaqueLines = 8 ;
                var localStoragePlaqueLineStr ;
                var plaqueTextBoxEntryStr ;
                var getElementByIdStr ;
                var PlaqueLineStr ;
                for (i = 1; i<=numAvailPlaqueLines; i++) {
                    localStoragePlaqueLineStr = 'localStorage.PlaqueLine'+i ;
                    plaqueTextBoxEntryStr = 'enterPlaqueLine'+i ;
                    getElementByIdStr = 'plaqueTextBoxL'+i;
                    PlaqueLineStr = 'PlaqueLine'+ i ; 
//alert('enterPlaqueText(): localStoragePlaqueLineStr ='+localStoragePlaqueLineStr+' plaqueTextBoxEntryStr ='+ plaqueTextBoxEntryStr+'PlaqueLineStr='+PlaqueLineStr) ;
//alert("eval(localStoragePlaqueLineStr+' !== undefined')"+eval(localStoragePlaqueLineStr+' !== undefined'));
//alert("eval(localStoragePlaqueLineStr+' !== \"undefined\"')"+eval(localStoragePlaqueLineStr+' !== "undefined"'));
                    if (eval(localStoragePlaqueLineStr+' !== undefined') & eval(localStoragePlaqueLineStr+' !== "undefined"')) {
                        plaqueTextBoxEntry = eval('document.getElementById(\"'+plaqueTextBoxEntryStr+'\").value');      
//alert('enterPlaqueText(): plaqueTextBoxEntry='+plaqueTextBoxEntry) ;
                        document.getElementById(eval('\"'+'plaqueTextBoxL'+i+'\"')).innerHTML = plaqueTextBoxEntry;
                        eval('localStorage.PlaqueLine'+i+'= plaqueTextBoxEntry') ;
                        }
                     // add new line if there is one
/*
*/
                    else if (newText) {
                        plaqueTextBoxEntry = eval('document.getElementById(\"'+plaqueTextBoxEntryStr+'\").value');      
                        document.getElementById(eval('\"'+'plaqueTextBoxL'+i+'\"')).innerHTML = plaqueTextBoxEntry;
                        eval('localStorage.PlaqueLine'+i+'= plaqueTextBoxEntry') ;
                        //alert("enterPlaqueText(): plaqueTextBoxEntry ="+plaqueTextBoxEntry)
                        }     
                }                   
/*                               
                var plaqueTextBoxEntry1 ;
                var plaqueTextBoxEntry2 ;
                var plaqueTextBoxEntry3 ;
                var plaqueTextBoxEntry4 ;
                var plaqueTextBoxEntry5 ;
                var plaqueTextBoxEntry6 ;
                var plaqueTextBoxEntry7 ;

                plaqueTextBoxEntry1 = document.getElementById("enterPlaqueLine1").value;
                plaqueTextBoxEntry2 = document.getElementById("enterPlaqueLine2").value;
                plaqueTextBoxEntry3 = document.getElementById("enterPlaqueLine3").value;
                plaqueTextBoxEntry4 = document.getElementById("enterPlaqueLine4").value;
                plaqueTextBoxEntry5 = document.getElementById("enterPlaqueLine5").value;
                plaqueTextBoxEntry6 = document.getElementById("enterPlaqueLine6").value;
                plaqueTextBoxEntry7 = document.getElementById("enterPlaqueLine7").value;
                
                document.getElementById("plaqueTextBoxL1").innerHTML = plaqueTextBoxEntry1;
                document.getElementById("plaqueTextBoxL2").innerHTML = plaqueTextBoxEntry2;
                document.getElementById("plaqueTextBoxL3").innerHTML = plaqueTextBoxEntry3;
                document.getElementById("plaqueTextBoxL4").innerHTML = plaqueTextBoxEntry4;
                document.getElementById("plaqueTextBoxL5").innerHTML = plaqueTextBoxEntry5;
                document.getElementById("plaqueTextBoxL6").innerHTML = plaqueTextBoxEntry6;
                document.getElementById("plaqueTextBoxL7").innerHTML = plaqueTextBoxEntry7;
                
                localStorage.PlaqueLine1 = plaqueTextBoxEntry1 ;
                localStorage.PlaqueLine2 = plaqueTextBoxEntry2 ;
                localStorage.PlaqueLine3 = plaqueTextBoxEntry3 ;
                localStorage.PlaqueLine4 = plaqueTextBoxEntry4 ;
                localStorage.PlaqueLine5 = plaqueTextBoxEntry5 ;
                localStorage.PlaqueLine6 = plaqueTextBoxEntry6 ;
                localStorage.PlaqueLine7 = plaqueTextBoxEntry7 ;
*/
            }
        
        function acceptEdits() {
            RelationShipsPreviewZ("mockup", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;
        }
        
        function RelationShipsPreviewZ(previewRole, showFrame) {
                /* fancy parameter management... */
                console.log("RelationShipsPreviewZ()...") ;
                var FeaturesButton = "nope";
                var SizeButton = "nope";
                var PriceButton = "nope";
                var EditButton = "nope";
                    var EditTitleButton = "nope";  
                    var EditOriginsButton = "nope";  
                    var EditDestinationButton = "nope"; 
                    var EditShipInfoButton = "nope";  
                    var EditPlaqueButton = "nope";            
                    var AcceptEditsButton = "nope";            

                    var EnterTitleText = "nope";  
                    var EnterOriginsText = "nope";  
                    var EnterDestinationText = "nope"; 
                    var EnterShipInfoText = "nope";  
                    var EnterPlaqueText = "nope";            

                var BackButton = "nope";
                var SaveButton = "nope";
                var BuyButton = "nope";
                var ReturnButton = "nope";
        
                /* use this to determine whether b was passed or not */
                if (arguments.length < 3) {
                    /* BuyButton, SaveButton not passed */
                } 
                else if (arguments.length == 3) {
                    /* BuyButton was passed -- 3rd argument */
                    BuyButton = arguments[3];
                }
                else if (arguments.length == 4) {
                    /* SaveButton was passed also -- 4th argument  */
                    BuyButton = arguments[3];
                    SaveButton = arguments[4];
                }
                else if (arguments.length == 5) {
                    /* ReturnButton was passed also -- 5th argument  */
                    BuyButton = arguments[3];
                    SaveButton = arguments[4];
                    ReturnButton = arguments[5];
                }
                
                 /*document.referrer ;*/
                var OriginatingPage = window.location.href;
                var shopifyFilePreFix = "https://cdn.shopify.com/s/files/1/1336/0641/files/" ;
                var shopifyFileSufFix = "?16338137725744926710" ;
                
                var headerText
                if (previewRole==="initialView") {
                    headerText  =   '<p><small><em>A mockup of your RelationShips Project at its starting point.' ;
                    headerText +=   '<br>From here you switch, mix, match, and tailor any elements of this display' ;
                    headerText +=   '<br>that need to change to show the story you want to tell</em></small></p>' ;
                    /* Control Button defn and placement */
                    FeaturesButton = "yup";
                    SizeButton = "yup";
                    PriceButton = "yup";
                    EditButton = "yup";
                    BackButton = "yup";
                    SaveButton = "yup";
                }
                else if (previewRole==="mockup") {
                    headerText  =   '<p><em>Just a mockup.' ;
                    headerText  +=   '<br>See Examples to see what final orders look like</em></p>' ;
                    /* Control Button defn and placement */
                    FeaturesButton = "yup";
                    SizeButton = "yup";
                    PriceButton = "yup";
                    EditButton = "yup";
                    BackButton = "yup";
                    SaveButton = "yup";
                }
                else if (previewRole==="noMenus") {
                    headerText  =   '<p><em>Just a mockup.' ;
                    headerText  +=   '<br>See Examples to see what final orders look like</em></p>' ;
                    /* No Control Button defn and placement */
                }
                else if (previewRole==="edit") {
                    headerText  =   '<p><em>All Fields can be modified.' ;
                    headerText  +=   '<br>See Examples for some possibilities</em></p>' ;
                    /* Control Button defn and placement */
                    EditTitleButton = "yup";  
                    EditOriginsButton = "yup";  
                    EditDestinationButton = "yup"; 
                    EditShipInfoButton = "yup";  
                    EditPlaqueButton = "yup";            
                    BackButton = "yup";
                    AcceptEditsButton = "yup";            
                }
                else if (previewRole==="editTitle") {
                    headerText  =   '<p><em>Modify the Title text any way you want.' ;  
                    headerText  +=   '<br>See Examples for some possibilities</em></p>' ;
                    /* Control Button defn and placement */
                    EnterTitleText = "yup";  
                    BackButton = "yup";
                    AcceptEditsButton = "yup";            
                }
                else if (previewRole==="editOrigin") {
                    headerText  =   '<p><em>Modify the Origins text any way you want.' ;  
                    headerText  +=   '<br>See Examples for some possibilities</em></p>' ;
                    /* Control Button defn and placement */
                    EnterOriginsText = "yup";  
                    BackButton = "yup";
                    AcceptEditsButton = "yup";            
                }
                else if (previewRole==="editDestination") {
                    headerText  =   '<p><em>Modify the Destination text any way you want.' ;  
                    headerText  +=   '<br>See Examples for some possibilities</em></p>' ;
                    /* Control Button defn and placement */
                    EnterDestinationText = "yup"; 
                    BackButton = "yup";
                    AcceptEditsButton = "yup";            
                }
                 else if (previewRole==="editShipInfo") {
                    headerText  =   '<p><em>Modify the Ship Info text any way you want.' ;  
                    headerText  +=   '<br>See Examples for some possibilities</em></p>' ;
                    /* Control Button defn and placement */
                    EnterShipInfoText = "yup"; 
                    BackButton = "yup";
                    AcceptEditsButton = "yup";            
                }
                else if (previewRole==="editPlaque") {
                    headerText  =   '<p><em>Modify the Plaque in any way you want.' ;  
                    headerText  +=   '<br>See Examples for some possibilities</em></p>' ;
                    /* Control Button defn and placement */
                    EnterPlaqueText = "yup"; 
                    BackButton = "yup";
                    AcceptEditsButton = "yup";            
                }
                 else {
                    headerText  =   '<p><em>Just a mockup.' ;
                    headerText  +=   '<br>See Examples to see what final orders look like</em></p>' ;
                    /* Control Button defn and placement */
                    FeaturesButton = "yup";
                    SizeButton = "yup";
                    PriceButton = "yup";
                    EditButton = "yup";
                    BackButton = "yup";
                    SaveButton = "yup";
                } 
                
//                ReturnButton = "yup" ;
                var IncreaseButton ="yup";
                var DecreaseButton="yup";  
        
                var controlButtonPlacement = "RightColumn" ; // or "Top"
                var buttonWidth = 60 ;
                var editButtonWidth = 90 ;
                var titleLineWidth = 160 ;
                var originLineWidth = 160 ;
                var destinationLineWidth = 160 ;
                var ShipInfoLineWidth = 160 ;
                var plaqueLineWidth = 160 ;
                
                var controlButtons = "";
                if (EditTitleButton!=="nope") {
                        controlButtons +=  '<button id="editTitle" class="float-left submit-button" style="width: '+editButtonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" onclick="editTitleTextBox()">Edit Title</button>' ;             
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (EditOriginsButton!=="nope") {
                        controlButtons +=  '<button id="editOrigin" class="float-left submit-button" style="width: '+editButtonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" onclick="editOriginTextBox()">Edit Origins</button>' ;             
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (EditDestinationButton!=="nope") {
                        controlButtons +=  '<button id="editDestination" class="float-left submit-button" style="width: '+editButtonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" onclick="editDestinationTextBox()">Edit Destination</button>' ;             
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (EditShipInfoButton!=="nope") {
                        controlButtons +=  '<button id="editShipInfo" class="float-left submit-button" style="width: '+editButtonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" onclick="editShipInfoTextBox()">Edit Ship Info</button>' ;             
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (EditPlaqueButton!=="nope") {
                        controlButtons +=  '<button id="editPlaque" class="float-left submit-button" style="width: '+editButtonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" onclick="editPlaqueTextBox()">Edit Plaque</button>' ;             
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
               if (EnterTitleText!=="nope") {
//                        controlButtons +=  '<p>Change Title Lines here:<\p>'
                        controlButtons +=  '<input id="enterTitleLine1" type="text" value="'+localStorage.TitleLine1+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterTitleText()">' ;  
                        controlButtons +=  '<br><input id="enterTitleLine2" type="text" value="'+localStorage.TitleLine2+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterTitleText()">' ;  
                        controlButtons +=  '<br><input id="enterTitleLine3" type="text" value="'+localStorage.TitleLine3+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterTitleText()">' ;  
                    }   
                if (EnterOriginsText!=="nope") {
//                        controlButtons +=  '<p>Change Origin Lines here:<\p>'
                        controlButtons +=  '<input id="enterOriginLine1" type="text" value="'+localStorage.OriginsLine1+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterOriginText()">' ;  
                        controlButtons +=  '<br><input id="enterOriginLine2" type="text" value="'+localStorage.OriginsLine2+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterOriginText()">' ;  
                    }   
                if (EnterDestinationText!=="nope") {
//                        controlButtons +=  '<p>Change Destination Lines here:<\p>'
                        controlButtons +=  '<input id="enterDestinyLine1" type="text" value="'+localStorage.DestinyLine1+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterDestinationText()">' ;  
                        controlButtons +=  '<br><input id="enterDestinyLine2" type="text" value="'+localStorage.DestinyLine2+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterDestinationText()">' ;  
                    }   
                if (EnterShipInfoText!=="nope") {
//                        controlButtons +=  '<p>Change ShipInfo Lines here:<\p>'
                        controlButtons +=  '<input id="enterShipInfoLine1" type="text" value="'+localStorage.ShipInfoLine1+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterShipInfoText()">' ;  
                        controlButtons +=  '<br><input id="enterShipInfoLine2" type="text" value="'+localStorage.ShipInfoLine2+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterShipInfoText()">' ;  
                    }   

                var numAvailPlaqueLines = 8 ;
                var numFilledPlaqueLines = 0 ;
                var thisLineNum = 0 ;
                for (i = 0; i<numAvailPlaqueLines; i++) {
                    //console.log("(eval('localStorage.PlaqueLine'+i)["+eval('localStorage.PlaqueLine'+i)+"] !== undefined)"+(eval('localStorage.PlaqueLine'+i) !== undefined));
                    if ((eval('localStorage.PlaqueLine'+i) !== undefined) & (eval('localStorage.PlaqueLine'+i) !== "undefined")) {
                        numFilledPlaqueLines++ ;          
                        }     
                }                   
//                alert('number of filled plaque lines == '+numFilledPlaqueLines);
                if (EnterPlaqueText!=="nope") {
//                        controlButtons +=  '<p>Change Plaque Lines here:<\p>'
/*
                        controlButtons +=  '<input id="enterPlaqueLine1" type="text" value="'+localStorage.PlaqueLine1+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        controlButtons +=  '<br><input id="enterPlaqueLine2" type="text" value="'+localStorage.PlaqueLine2+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        controlButtons +=  '<br><input id="enterPlaqueLine3" type="text" value="'+localStorage.PlaqueLine3+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        controlButtons +=  '<br><input id="enterPlaqueLine4" type="text" value="'+localStorage.PlaqueLine4+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        controlButtons +=  '<br><input id="enterPlaqueLine5" type="text" value="'+localStorage.PlaqueLine5+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        controlButtons +=  '<br><input id="enterPlaqueLine6" type="text" value="'+localStorage.PlaqueLine6+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        controlButtons +=  '<br><input id="enterPlaqueLine7" type="text" value="'+localStorage.PlaqueLine7+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
*/
                        thisLineNum++ ; // thisLineNum==1
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine1" type="text" value="'+localStorage.PlaqueLine1+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine2" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+numFilledPlaqueLines+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==2
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine2" type="text" value="'+localStorage.PlaqueLine2+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine3" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+numFilledPlaqueLines+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==3
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine3" type="text" value="'+localStorage.PlaqueLine3+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine4" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+numFilledPlaqueLines+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==4
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine4" type="text" value="'+localStorage.PlaqueLine4+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine5" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+numFilledPlaqueLines+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==5
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine5" type="text" value="'+localStorage.PlaqueLine5+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine6" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+numFilledPlaqueLines+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==6
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine6" type="text" value="'+localStorage.PlaqueLine6+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine7" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+numFilledPlaqueLines+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==7
                        if (numFilledPlaqueLines >= thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine7" type="text" value="'+localStorage.PlaqueLine7+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                            if (numFilledPlaqueLines == thisLineNum) {
                                controlButtons +=  '<br><input id="enterPlaqueLine8" type="text" value="...add text (one line at a time) " style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',true)">' ;  
                            }
                        }
                        thisLineNum++ ; // thisLineNum==8
                        if (numFilledPlaqueLines == thisLineNum) {
                            controlButtons +=  '<br><input id="enterPlaqueLine8" type="text" value="'+localStorage.PlaqueLine8+'" style="width: '+titleLineWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" oninput="enterPlaqueText('+thisLineNum+',false)">' ;  
                        }
                    }   
                if (AcceptEditsButton!=="nope") {
                        controlButtons +=  '<button id="acceptEdits" class="float-left submit-button" style="width: '+editButtonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold;" onclick="acceptEdits()">AcceptEdits</button>' ;             
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (FeaturesButton!=="nope") {
                        controlButtons +=  '<button id="FeaturesButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="FeaturesPage()">Features</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (SizeButton!="nope") {
                        controlButtons +=  '<button id="SizeButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="SizePage()">Size</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (PriceButton!=="nope") {
                        controlButtons +=  '<button id="PriceButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="PricePage()">Price</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (EditButton!=="nope") {
                        controlButtons +=  '<button id="EditButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="EditPage()">Edit</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
               if (BackButton!="nope") {
                        controlButtons +=  '<button id="BackButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="BackToPrevLevel('+'\''+previewRole+'\''+')">Back</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    } 
        /*
               if (ReturnButton!="nope") {
                        controlButtons +=  '<button id="ReturnButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="ReturnToCallingPage()">Back</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    } 
          */
                if (SaveButton!="nope") {
                        controlButtons +=  '<button id="SaveButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="SaveCurrentState()">Save</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
                if (BuyButton!="nope") {
                        controlButtons +=  '<button id="BuyButton" class="float-left submit-button" style="width: '+buttonWidth+'px; background-color: Ivory; border: 4px solid DarkGreen; padding: 5px; margin: 0 3px; font-size: 110%; font-weight: bold; " onclick="GoToBuyPage()">Buy</button>' ;  
                        if(controlButtonPlacement == "RightColumn") {
                            controlButtons +=  '<br>' ;
                        }
                    }   
        
                var sizeButtonPlacement = "RightColumn" ; // or "Top"
                var sizeButtonWidth = 30;
                var sizeButtons = "";
                sizeButtons +=  '<button id="IncreasePreviewSize" class="float-left submit-button" style="width: '+sizeButtonWidth+'px; height: '+sizeButtonWidth+'px; background-color: Ivory; border: 4px solid grey; padding: 0px; margin: 0 0px; font-size: 200%; font-weight: bold; " onclick="IncreasePreviewScaleMultiple()">+</button>' ;  
                        if(sizeButtonPlacement == "RightColumn") {
                            sizeButtons +=  '<br>' ;
                        }
                sizeButtons +=  '<button id="DecreasePreviewSize" class="float-left submit-button" style="width: '+sizeButtonWidth+'px; height: '+sizeButtonWidth+'px; background-color: Ivory; border: 4px solid grey; padding: 0px; margin: 0 0px; font-size: 200%; font-weight: bold; " onclick="DecreasePreviewScaleMultiple()">-</button>' ;  
                        if(sizeButtonPlacement == "RightColumn") {
                            sizeButtons +=  '<br>' ;
                        }
        
                /* page */
                var topMargin = 20 ;
                var leftMargin = 120 ;
                var webFrameScale = currentPreviewScale ;
                /* map foundations for display accouterments */
        
                            var img = new Image();
                            
                            img.onload = function(){
                              var height = img.height;
                              var width = img.width;
                            
                              // code here to use the dimensions
                            } ;
                                            
                var webMapStyle = localStorage.MapStyle ;
                var webMapStyleAbbrev = localStorage.MapStyleAbbrev ;
                var webMapImg = shopifyFilePreFix + localStorage.webMapImg;
        
                            var mapImg = webMapImg;
                            img.src = mapImg;
                            mapX = img.width ;  // 1850
                            mapY = img.height ; // 1151
                            console.log("mapImg=="+mapImg+" mapX=="+mapX+" mapY=="+mapY) ; / *  ### not working ### */
        
                var theGoldenRatio = 1.618 ;
                var webMapWidth = 400 * webFrameScale ;
                var webMapHeight = (webMapWidth/theGoldenRatio) * webFrameScale ; /* get the actual height of the map */
                var shipPic = ( localStorage.getItem('shipPic') || '' );

                /* ship */
                var webShipImg = shopifyFilePreFix + shipPic.replace("(", "_").replace(")", "_");
                // var webShipImgQuoted = '\"' + webShipImg + '\"'; // Not necessary

                /* frame */
                var webFrameSrcStr ;
                var webFrameStyleName ;
                var webFrameImg, webFrameAbbrv, webFrameDivStyle, webFrameAttribs, webFrameStyle ;
                var webFrameWidth, webFrameHeight ;
                var webFrameTopOffset ;
                var webFrameLeftOffset ;
                //var specificFrameTopOffsetDelta ;
                //var specificFrameLeftOffsetDelta ;
                /* frames are symmetrical... */
                var webFrameTopThickness = 110  * webFrameScale ;
                var webFrameBottomThickness = webFrameTopThickness ;
                var webFrameLeftThickness = webFrameTopThickness ;
                var webFrameRightThickness = webFrameTopThickness ;
                if (showFrame==="showFrame") {
                    webFrameStyleName = localStorage.Frame ;
                    if (webFrameStyleName == 'NoFrame') {
                        webFrameAbbrv = 'NoFrame';
                        webFrameImg = '\"' + shopifyFilePreFix + 'GoldRatio-Med-NoFrame-NoRuler-72ppi.png' + '\"';  
                        webFrameWidth = 510 ;
                        webFrameWidth = webFrameWidth * webFrameScale ;
                        webFrameHeight = webMapWidth/theGoldenRatio ;
                        webFrameTopOffset = -(0.5*webFrameTopThickness) ;  // need to offset top of just the mat...
                        webFrameLeftOffset = -60 * webFrameScale;
                    }
                    else if (webFrameStyleName == 'BlackRoped') {
                        webFrameAbbrv = 'Black';
                        webFrameWidth = 600;
                        webFrameWidth = webFrameWidth * webFrameScale ;
                        webFrameHeight = webMapWidth/theGoldenRatio ;
                        webFrameTopOffset = -webFrameTopThickness;
                        webFrameLeftOffset = -105 * webFrameScale;
                    }
                    else if (webFrameStyleName == 'GoldTrim') {
                        webFrameAbbrv = 'Gold';
                        webFrameWidth = 600;
                        webFrameWidth = webFrameWidth * webFrameScale ;
                        webFrameHeight = webMapWidth/theGoldenRatio ;
                        webFrameTopOffset = -webFrameTopThickness;
                        webFrameLeftOffset = -105 * webFrameScale;
                    }
                    else if (webFrameStyleName == 'LightCherry') {
                        webFrameAbbrv = 'Cherry';
                        webFrameWidth = 600;
                        webFrameWidth = webFrameWidth * webFrameScale ;
                        webFrameHeight = webMapWidth/theGoldenRatio ;
                        webFrameTopOffset = -webFrameTopThickness;
                        webFrameLeftOffset = -105 * webFrameScale;
                    }
                    else if (webFrameStyleName == 'BlackWalnut') {
                        webFrameAbbrv = 'Walnut';
                        webFrameWidth = 630;
                        webFrameWidth = webFrameWidth * webFrameScale ;
                        webFrameHeight = webMapWidth/theGoldenRatio ;
                        webFrameTopOffset = -webFrameTopThickness;
                        webFrameLeftOffset = -120 * webFrameScale;
                    }
                    else {
                        webFrameAbbrv = 'Walnut';
                        webFrameWidth = 600;
                        webFrameWidth = webFrameWidth * webFrameScale ;
                        webFrameHeight = webMapWidth/theGoldenRatio ;
                        webFrameTopOffset = -webFrameTopThickness;
                        webFrameLeftOffset = -105 * webFrameScale;
                    }
                }
                else {
                    webFrameStyleName = 'NoFrame'
                    webFrameAbbrv = 'NoFrame';
                    webFrameImg = '\"' + shopifyFilePreFix + 'GoldRatio-Med-NoFrame-NoRuler-72ppi.png' + '\"';  
                    webFrameWidth = 510;
                    webFrameWidth = webFrameWidth * webFrameScale ;
                    webFrameHeight = webMapWidth/theGoldenRatio ;
                    webFrameTopOffset = -(0.5*webFrameTopThickness);   // need to offset top of just the mat...
                    webFrameLeftOffset = -60 * webFrameScale;
                }
                   
        //webFrameTopOffset = -110;
                    
                webFrameImg = '\"' + shopifyFilePreFix + 'GoldRatio-Med-' + webFrameAbbrv + '-NoRuler-72ppi.png' + '\"';  
                webFrameDivStyle = ' style=\"position: absolute; Top:'+webFrameTopOffset+'px; left:'+webFrameLeftOffset+'px; z-index: 10;\">' ;
                webFrameAttribs = ' class=\"frame\" width='+webFrameWidth+'px height=\"auto\"' ;
                webFrameStyle = ' style=\"width:'+webFrameWidth+'px; maxwidth: 25%; height: auto\";' ;
            
                /* ### ?? unused? ## */
                webFrameSrcStr += '<img src=' + webFrameImg + webFrameAttribs + webFrameStyle + '/>' ;
                                
                /* plaque */
        /*       
                var webFrameTopThickness = 30 * webFrameScale ;
                var webFrameBottomThickness = webFrameTopThickness ;
                var webFrameLeftThickness = webFrameTopThickness ;
                var webFrameRightThickness = webFrameTopThickness ;
        
                var topMargin = 20 ;
                var leftMargin = 20 ;
                var webFrameScale = 1.0 ;
        */       
                /* https://cdn.shopify.com/s/files/1/1336/0641/files/EmptyPlaque.png */
                var webPlaque = "Empty" ;
                var webPlaqueDistanceBelowMapDisplay = 30 * webFrameScale;
                var webPlaqueImg, webPlaqueAbbrv, webPlaqueDivStyle, webPlaqueAttribs, webPlaqueStyle ;
                var webPlaqueWidth, webPlaqueHeight ;
                var webPlaqueBaseWidth, webPlaqueMatBorder ;
                var webPlaqueTopOffset, webPlaqueBottomOffset ;
                var webPlaqueLeftOffset, webPlaqueRightOffset ;
                var webPlaquewebStr, webPlaqueBottomOffsetStr, webPlaqueLeftOffsetStr ;
                webPlaqueBaseWidth = 140 ;
                webPlaqueMatBorder = 4;
                                           
                if (webPlaque == 'Empty') {
                    webPlaqueAbbrv = 'Empty';
                    webPlaqueWidth = (webPlaqueBaseWidth + webPlaqueMatBorder) * webFrameScale;
                    webPlaqueHeight = webPlaqueWidth/2;
                    //webPlaqueBottomOffset = -50;
                    /* ### Don't seem to be able to get this to work from the top ### */
                    //webPlaqueTopOffset = (webMapHeight + (webFrameBottomThickness/2)) - (webPlaqueHeight/2.0) ;
                    //webPlaqueTopOffset = webMapHeight;
                    webPlaqueTopOffset = webFrameTopOffset + webFrameTopThickness + webMapHeight + (webPlaqueHeight/2.0) ;
                    //webPlaqueBottomOffset = -(webPlaqueHeight + ((webFrameBottomThickness-webPlaqueHeight)/2.0));
                    webPlaqueBottomOffset = -(webPlaqueHeight - webPlaqueDistanceBelowMapDisplay);
                    //webPlaqueLeftOffset = 125 * webFrameScale ; /* 100+400/2-140/2 = 220... nope */
                    webPlaqueLeftOffset = webMapWidth/2 - webPlaqueWidth/2 ; /* 100+400/2-140/2 = 220... nope */
                }
                else { /* ### no plaque ### */
                    webPlaqueAbbrv = 'NoPlaque';
                    webPlaqueWidth = (webPlaqueBaseWidth + webPlaqueMatBorder) * webFrameScale;
                    webPlaqueHeight = webPlaqueWidth/2;
                    //webPlaqueBottomOffset = -50;
                    /* ### Don't seem to be able to get this to work from the top ### */
                    //webPlaqueTopOffset = (webMapHeight + (webFrameBottomThickness/2)) - (webPlaqueHeight/2.0) ;
                    //webPlaqueTopOffset = webMapHeight;
                    webPlaqueTopOffset = webFrameTopOffset + webFrameTopThickness + webMapHeight + (webPlaqueHeight/2.0) ;
                    //webPlaqueBottomOffset = (-webFrameBottomThickness/2.0) + (webPlaqueHeight/2.0);
                    webPlaqueBottomOffset = -(webPlaqueHeight - webPlaqueDistanceBelowMapDisplay);
                    //webPlaqueLeftOffset = 125 * webFrameScale ; /* 100+400/2-140/2 = 220... nope */
                    webPlaqueLeftOffset = webMapWidth/2 - webPlaqueWidth/2 ; /* 100+400/2-140/2 = 220... nope */
                }
                webPlaqueImg = '\"' + shopifyFilePreFix + webPlaque + 'Plaque.png' + '\"';  
                var plaqueTextBoxFontSize, plaqueTextBoxLineHeight ;
                plaqueTextBoxFontSize = (webPlaqueHeight/(numFilledPlaqueLines+1))*webFrameScale  ;   // 9*webFrameScale
                plaqueTextBoxLineHeight = 1.0 * webFrameScale ;
                
        /*
                webPlaqueDivStyle = ' style=\"position: absolute; bottom:'+webPlaqueBottomOffset+'px; left:'+webPlaqueLeftOffset+'px; z-index: 10;\">' ;
                webPlaqueDivStyle = ' style=\"position: absolute; bottom:'+webPlaqueBottomOffset+'px; left:'+webPlaqueLeftOffset+'px; text-align: center; line-height: 1.0;  font-size: 9px; z-index: 10;\">' ;
                webPlaqueDivStyle = ' style=\"position: absolute; top:'+webPlaqueTopOffset+'px; left:'+webPlaqueLeftOffset+'px; text-align: center; line-height: 1.0;  font-size: 9px; z-index: 10;\">' ;
        */
                //webPlaqueDivStyle =   'style=\"position: absolute; bottom: '+webPlaqueBottomOffset+'px; left: '+webPlaqueLeftOffset+'px; z-index: 25; line-height: '+plaqueTextBoxLineHeight+'; font-size: '+plaqueTextBoxFontSize+'px; text-align: center; z-index: 25; \">' ;
                //webPlaqueDivStyle = ' style=\"position: absolute; bottom:'+webPlaqueBottomOffset+'px; left:'+webPlaqueLeftOffset+'px; text-align: center; line-height: 1.0;  font-size: 9px; z-index: 25;\">' ;

webPlaqueTopOffset = webFrameHeight + webPlaqueDistanceBelowMapDisplay ;  // ### not sure exactly why this makes sense ###
webPlaqueTopOffset = webFrameTopThickness + webMapHeight + webPlaqueDistanceBelowMapDisplay ;  // ### not sure exactly why this makes sense ###

                webPlaqueDivStyle = ' style=\"position: absolute; top:'+webPlaqueTopOffset+'px; left:'+webPlaqueLeftOffset+'px; text-align: center; line-height: 1.0;  font-size: 9px; z-index: 25;\">' ;

webPlaqueBottomOffset = -(webPlaqueHeight) + (4* webFrameScale) ; // + webPlaqueDistanceBelowMapDisplay) ;  // ### not sure exactly why this makes sense ###

webPlaqueLeftOffset = webMapWidth/2 - webPlaqueWidth/2 ; /* 100+400/2-140/2 = 220... nope */

                webPlaqueDivStyle = 
                    ' style=\"position: absolute;'
                    + ' bottom:' + webPlaqueBottomOffset + 'px;'
                    + ' left:' + webPlaqueLeftOffset + 'px;'
                    + ' text-align: center;'
                    + ' line-height: '+ plaqueTextBoxLineHeight + ';'
                    + ' font-size: ' + plaqueTextBoxFontSize + 'px;'
                    + ' z-index: 25;\"'
                    // EmptyPlaque as background-image:
                    + 'background-image: url(' + webPlaqueImg + ');'
                    + 'background-size: contain;'
                    + 'background-repeat: no-repeat;'
                    + 'width: 306px;'
                    + 'padding: 9.5px 12.8px;'
                    // End EmptyPlaque as background-image
                    + '>';

                webPlaqueAttribs = ' class=\"Plaque\" width='+webPlaqueWidth+'px height='+webPlaqueHeight+'px' ;
                webPlaqueStyle = ' style=\"width:'+webPlaqueWidth+'px; maxwidth: 25%;'+webPlaqueHeight+'px;\";' ;
                /* plaque text ### this is not being used.  Redo and use ###*/
                var webPlaqueText ;
                webPlaqueText   = ' style=\"position: absolute; top: 8px; left: 8px; z-index: 12;\">' ;
                webPlaqueText  +=   '<div style=\"position: absolute; top: 60px; left: 25px; z-index: 25; text-align: center; line-height: 0.9;  font-size: 10px; \">' ;
                webPlaqueText  +=   '<p>'+localStorage.PlaqueLine1 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine2 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine3 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine4 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine5 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine6 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine7 ;
                webPlaqueText  +=   '<br>'+localStorage.PlaqueLine8+'</p>' ;
                webPlaqueText  +=   '</div>' ;
        
        
                /* seascape */
                var option = "DontAddSeaScape" ;   
                var seaScapeImgName ;
                var seaScapeImg ;
                var seaScapeHorizonImgName ;
                var seaScapeHorizonImg ;
        
                var seaScapeWidth, seaScapeHeight ;
                var seaScapeTopOffset, seaScapeBottomOffset ;
                var seaScapeLeftOffset, seaScapeRightOffset ;
                seaScapeWidth = webMapWidth ;
                seaScapeHeight = 60 * webFrameScale ;
                seaScapeBottomOffset = 0 * webFrameScale;
                seaScapeLeftOffset = 0 * webFrameScale;
                
                var seaScapeHorizonWidth, seaScapeHorizonHeight ;
                var seaScapeHorizonTopOffset, seaScapeHorizonBottomOffset ;
                var seaScapeHorizonLeftOffset, seaScapeHorizonRightOffset ;
                seaScapeHorizonWidth = webMapWidth ;
                seaScapeHorizonHeight = 20 * webFrameScale ;
                seaScapeHorizonBottomOffset = 40 * webFrameScale ;
                seaScapeHorizonLeftOffset = 0 * webFrameScale ;
        
                var seaScapeHTML ;
                if (option === "AddSeaScape") {
                    /*seaScapeImg = "https://cdn.shopify.com/s/files/1/1336/0641/files/Ocean7Cropped640W.png?10959405084462869905" ;*/
                    /*seaScapeSquashedImg = "https://cdn.shopify.com/s/files/1/1336/0641/files/Ocean7CroppedSquashed500W.png?17942739908704347492" ;*/
                    /*seaScapeHorizonImg = "https://cdn.shopify.com/s/files/1/1336/0641/files/Ocean7Horizon500W.png?17942739908704347492" ;*/
                   
                    seaScapeImgName = "Ocean7CroppedSquashed500W.png" ;
                    seaScapeImg =    "\'"
                                        + shopifyFilePreFix
                                        + seaScapeImgName.replace("(","_").replace(")","_")  /* ### (need to formalize these image names) ### */
                                        + "\'" ;
                    seaScapeHorizonImgName = "Ocean7Horizon500W.png" ;
                    seaScapeHorizonImg =    "\'"
                                        + shopifyFilePreFix
                                        + seaScapeHorizonImgName.replace("(","_").replace(")","_")  /* ### (need to formalize these image names) ### */
                                        + "\'" ;
                    /* Seascape foreground */
                    seaScapeHTML =   '<div style=\"position: absolute; bottom: '+seaScapeBottomOffset+'px; left: '+seaScapeLeftOffset+'px; z-index: 4;\">' ;
                    seaScapeHTML +=     '<img src=' + seaScapeImg ;
                    seaScapeHTML +=     ' class=\"seaScape\" width=\"'+seaScapeWidth+'px\" scaleheight=0.20 ' ;
                    seaScapeHTML +=     ' style=\"height: '+seaScapeHeight+'px; scalewidth: 4.0;\" />' ;
                    seaScapeHTML +=   '</div>' ; 
                    /* Seascape horizon */
                    seaScapeHTML +=   '<div style=\"position: absolute; bottom: '+seaScapeHorizonBottomOffset+'px; left: '+seaScapeHorizonLeftOffset+'px; z-index: 1;\">' ;
                    seaScapeHTML +=     '<img src=' + seaScapeHorizonImg ;
                    /* seaScapeHTML +=     ' class=\"seaScape\" width=\"'+seaScapeHorizonWidth+'px\" height=\"'+seaScapeHorizonHeight+'px\"' ; */
                    seaScapeHTML +=     ' style=\"width: '+seaScapeHorizonWidth+'px; height: auto;\" />' ;
                    seaScapeHTML +=   '</div>' ;
                }
                else {
                    seaScapeImg = "" ;
                    seaScapeHorizonImg = "" ;
                    seaScapeHTML = "";
                } ;
        
                var shipImgTransparentBackground = localStorage.shipImageTransparentBackground ;
                var shipBorder ;
                if (shipImgTransparentBackground === "transparent") {
                    shipBorder = "" ;
                }
                else {
                    shipBorder = "border-style: solid; border-width: 3px; border-color: darkblue;" ;
                } ;
                /*
                localStorage.setItem('MapStyleImg', 
                                     '\"https://cdn.shopify.com/s/files/1/1336/0641/files/2016-NAtlantic-MayanGlow-640pxW.png\" ' 
                                     );
                localStorage.setItem('FrameImg', 
                                    '\"https://cdn.shopify.com/s/files/1/1336/0641/files/GoldRatio-Med-Black-NoRuler-640pxW.png\" ' ; 
                                     );
                localStorage.setItem('shipPicImg', 
                                    '\"https://cdn.shopify.com/s/files/1/1336/0641/files/St_Paul-24-640pxW.jpg\" ' ;
                                     );
        
                var webMapImg = localStorage.MapStyleImg ;
                var webFrameImg = localStorage.FrameIg ;
                var webShipImgQuoted = localStorage.shipPicImg ;
                */
        
                /* examples...
                var webMapImg =   '\"https://cdn.shopify.com/s/files/1/1336/0641/files/2016-NAtlantic-MayanGlow-640pxW.png\" ' ;
                var webShipImgQuoted =      '\"https://cdn.shopify.com/s/files/1/1336/0641/files/St_Paul-24-640pxW.jpg\" ' ;
                var webFrameImg =     '\"https://cdn.shopify.com/s/files/1/1336/0641/files/GoldRatio-Med-Black-NoRuler-640pxW.png\" ' ; 
                */
        
                var ImgOverlayHTML = '<p>Testing...</p>' ;
        
                /* map */
        /*       
        
                var webFrameTopThickness = 30 * webFrameScale ;
                var webFrameBottomThickness = webFrameTopThickness ;
                var webFrameLeftThickness = webFrameTopThickness ;
                var webFrameRightThickness = webFrameTopThickness ;
        
                var topMargin = 20 ;
                var leftMargin = 20 ;
                var webFrameScale = 1.0 ;
        */       
        //        var webMapDivStyle, webMapAttribs, webMapStyle;
                var webMapTopOffset, webMapLeftOffset ;
                //webMapTopOffset = 20 ;
                //webMapLeftOffset = 240 ;
                //webMapTopOffset = topMargin+webFrameTopThickness ;
                webMapTopOffset = topMargin ;
                webMapLeftOffset = leftMargin+webFrameLeftThickness ;
                
                ImgOverlayHTML += '<div style=\"position: relative; top: '+webMapTopOffset+'px; left: '+webMapLeftOffset+'px; z-index: 0; text-shadow: 1px 1px 0px Ivory;\">' ;
                ImgOverlayHTML +=   '<img src=' + webMapImg ;
                ImgOverlayHTML +=   ' class=\"map\" style=\"width: '+webMapWidth+'px; height: '+webMapHeight+';\" />' ;
        
                /* header text */
                ImgOverlayHTML +=   '<div style=\"position: absolute; top: -34px; left: -0px; width: 510px; height: 80px; z-index: 25; line-height: 0.9; color red\">' ;
                ImgOverlayHTML +=   headerText ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* control buttons...  left offset when column == '+ (webFrameWidth-webFrameLeftOffset)+'  ? */
                var controlButtonOffset = 0 ;
                if(controlButtonPlacement == "RightColumn") {
                    controlButtonOffset = webFrameWidth+(2*webFrameLeftOffset)+buttonWidth ;
                    ImgOverlayHTML +=   '<div style=\"position: absolute; top: -34px; left: '+controlButtonOffset+'px; width: 510px; height: 80px; z-index: 1000; font-size: 8px; line-height: 0.9; color red\">' ;
                }
                else {
                    ImgOverlayHTML +=   '<div style=\"position: absolute; top: -34px; left: '+controlButtonOffset+'px; width: 510px; height: 80px; z-index: 1000; font-size: 8px; line-height: 0.9; color red\">' ;
                }
                ImgOverlayHTML +=   controlButtons ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* size buttons...  left offset when column == '+ (webFrameWidth-webFrameLeftOffset)+'  ? */
                var sizeButtonOffset = 0 ;
                if(sizeButtonPlacement == "RightColumn") {
                    sizeButtonOffset = webFrameWidth+(2*webFrameLeftOffset)+buttonWidth ;
                    ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: -125px; left: '+sizeButtonOffset+'px; width: 510px; height: 80px; z-index: 1000; font-size: 8px; line-height: 0.9; color red\">' ;
                }
                else {
                    ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: -125px; left: '+sizeButtonOffset+'px; width: 510px; height: 80px; z-index: 1000; font-size: 8px; line-height: 0.9; color red\">' ;
                }
                ImgOverlayHTML +=   sizeButtons ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* frame */      
                ImgOverlayHTML +=   '<div' + webFrameDivStyle ;
                /*                   <div style="position: absolute; bottom:-130; left:-105; zindex: 10;">
                ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: -85px; left: -60px; z-index: 10;\">' ;
                 */
                ImgOverlayHTML +=   '<img src=' + webFrameImg + webFrameAttribs + webFrameStyle + '/>' ;
                ImgOverlayHTML +=   '</div>' ;
        
                 /* Under Construction icon */
                /*
                    '<img   src="https://cdn.shopify.com/s/files/1/1336/0641/files/EnobrasUnderConstruction.gif" 
                            alt="Site Under Construction" 
                            style="display: block; position: absolute; top: 0px; left: 0px; width: 60px; height: 60px;" />
                */
                ImgOverlayHTML +=   '<div style=\"position: absolute; top: -34px; left: -40px; z-index: 12;\">' ;
                ImgOverlayHTML +=     '<img src=' + '\"https://cdn.shopify.com/s/files/1/1336/0641/files/EnobrasUnderConstruction.gif\"' ;
                ImgOverlayHTML +=     ' class=\"UnderConstructionIcon\" width=\"60px\" height=\"auto\"' ;
                ImgOverlayHTML +=     ' alt=\"Site Under Construction\"' ;
                ImgOverlayHTML +=     ' style=\"width: 60px; maxwidth: 25%; height: auto;\" />' ;
                ImgOverlayHTML +=   '</div>' ;
                
                /* Seascape */
                ImgOverlayHTML +=   seaScapeHTML ;
        
                 /* title */
                var titleTextBoxFontSize, titleTextBoxLineHeight ;
                var titleTextBoxTopOffset, titleTextBoxLeftOffset ;
                titleTextBoxFontSize = 12 * webFrameScale  ;
                titleTextBoxLineHeight = 0.8 * webFrameScale ;
                titleTextBoxTopOffset = 15 * webFrameScale;
                titleTextBoxLeftOffset = 85 * webFrameScale;
                
                ImgOverlayHTML +=   '<div style=\"position: absolute; top: '+titleTextBoxTopOffset+'px; left: '+titleTextBoxLeftOffset+'px; z-index: 25; line-height: '+titleTextBoxLineHeight+'; font-size: '+titleTextBoxFontSize+'px; text-align: center; \">' ;
                ImgOverlayHTML +=   '<p><em><span id="titleTextBoxL1">'+localStorage.TitleLine1+'</span>' ;
                ImgOverlayHTML +=   '<br><span id="titleTextBoxL2">'+localStorage.TitleLine2+'</span></em>' ;
                ImgOverlayHTML +=   '<br><span id="titleTextBoxL3">'+localStorage.TitleLine3+'</span></em></p>' ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* departure */
                var departureTextBoxFontSize, departureTextBoxLineHeight ;
                var departureTextBoxTopOffset, departureTextBoxLeftOffset ;
                departureTextBoxFontSize = 8 * webFrameScale  ;
                departureTextBoxLineHeight = 0.8 * webFrameScale ;
                departureTextBoxTopOffset = 55 * webFrameScale;
                departureTextBoxLeftOffset = 250 * webFrameScale;
                
                ImgOverlayHTML +=   '<div style=\"position: absolute; top: '+departureTextBoxTopOffset+'px; left: '+departureTextBoxLeftOffset+'px; z-index: 25; line-height: '+departureTextBoxLineHeight+'; font-size: '+departureTextBoxFontSize+'px; text-align: left; \">' ;
                //ImgOverlayHTML +=   '<div style=\"position: absolute; top: 55px; left: 250px; z-index: 25; line-height: 0.8;  font-size: 8px; \">' ;
                ImgOverlayHTML +=   '<br><span id="OriginTextBoxL1">'+localStorage.OriginsLine1+'</span></em>' ;
                ImgOverlayHTML +=   '<br><span id="OriginTextBoxL2">'+localStorage.OriginsLine2+'</span></em></p>' ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* arrival */
                var arrivalTextBoxFontSize, arrivalTextBoxLineHeight ;
                var arrivalTextBoxTopOffset, arrivalTextBoxLeftOffset ;
                arrivalTextBoxFontSize = 8 * webFrameScale  ;
                arrivalTextBoxLineHeight = 0.8 * webFrameScale ;
                arrivalTextBoxTopOffset = 60 * webFrameScale;
                arrivalTextBoxLeftOffset = 25 * webFrameScale;
                
                ImgOverlayHTML +=   '<div style=\"position: absolute; top: '+arrivalTextBoxTopOffset+'px; left: '+arrivalTextBoxLeftOffset+'px; z-index: 25; line-height: '+arrivalTextBoxLineHeight+'; font-size: '+arrivalTextBoxFontSize+'px; text-align: right; \">' ;
                //ImgOverlayHTML +=   '<div style=\"position: absolute; top: 60px; left: 25px; z-index: 25; line-height: 0.8;  font-size: 8px; \">' ;
                ImgOverlayHTML +=   '<br><span id="destinationTextBoxL1">'+localStorage.DestinyLine1+'</span></em>' ;
                ImgOverlayHTML +=   '<br><span id="destinationTextBoxL2">'+localStorage.DestinyLine2+'</span></em></p>' ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* ship */
                var targetShipImageWidth, targetShipImageHeight, targetShipImageArea ;
                var shipImageWidth, shipImageHeight ;
                var shipImageBottomOffset, shipImageLeftOffset ;
                var webShipImgWidth, webShipImgHeight, webShipImgXYRatio, webShipImgXYArea;
                
                getImgWidthAndHeight(
                    webShipImg,
                    function(width, height) {
                        localStorage.webShipImgWidth =width;
                        localStorage.webShipImgHeight =height;
                    }
                );
                webShipImgWidth = Number(localStorage.webShipImgWidth) ;
                webShipImgHeight = Number(localStorage.webShipImgHeight);
                webShipImgXYRatio = webShipImgHeight/webShipImgWidth ;
                webShipImgArea = webShipImgHeight*webShipImgWidth ;

                targetShipImageWidth = 160 * webFrameScale  ;  // image target width = 160
                targetShipImageHeight = targetShipImageWidth / 1.618  ;  // golden ratio = 1.618
                targetShipImageArea = targetShipImageWidth * targetShipImageHeight ;
                console.log("targetShipImageWidth ="+targetShipImageWidth+"; targetShipImageHeight ="+targetShipImageHeight+"; targetShipImageArea ="+targetShipImageArea) ;
                //targetShipImageArea = webShipImageWidth * (webShipImgXYRatio * webShipImageWidth) ;
                //webShipImageWidth = targetShipImageArea/(webShipImgXYRatio * webShipImageWidth) ;
                //webShipImageWidth^^2 = targetShipImageArea/webShipImgXYRatio ;
                webShipImageWidth = Math.sqrt(targetShipImageArea/webShipImgXYRatio) ;
                webShipImageHeight = webShipImgXYRatio * webShipImageWidth ;
                webShipImageArea = webShipImageWidth * webShipImageHeight;
                console.log("webShipImageWidth ="+webShipImageWidth+"; webShipImageHeight ="+webShipImageHeight+"; webShipImageArea ="+webShipImageArea) ;

                shipImageWidth = webShipImageWidth ; //160 * webFrameScale  ;  // image target width = 160
                shipImageHeight = webShipImageHeight ; //"auto" ;
                shipImageBottomOffset = 45 * webFrameScale;
                //shipImageBottomOffset += Math.max(0.0,(targetShipImageHeight-webShipImageHeight)/4.0);
                shipImageBottomOffset += (targetShipImageHeight-webShipImageHeight)/4.0;
                shipImageLeftOffset = 115 * webFrameScale;
                shipImageLeftOffset += (targetShipImageWidth-webShipImageWidth)/2.0;

        /*        ImgOverlayHTML +=   '<div style=\"position: absolute; top: 120px; left: 120px; z-index: 3;\">' ;  */
                //ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: 45px; left: 115px; z-index: 3;\">' ;
                ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: '+shipImageBottomOffset+'px; left: '+shipImageLeftOffset+'px; z-index: 3;\">' ;
                ImgOverlayHTML +=     '<img src="' + webShipImg + '"';
                //ImgOverlayHTML +=     ' class=\"ship\" width=\"160px\" height=\"auto\"' ;
                //ImgOverlayHTML +=     ' style=\"width: 160px maxwidth:25%; height: auto; ' ;
                ImgOverlayHTML +=     ' class=\"ship\" width=\"'+shipImageWidth+'px\" height=\"'+shipImageHeight+'\"' ;
                ImgOverlayHTML +=     ' style=\"width: '+shipImageWidth+'px maxwidth:25%; height: auto; ' ;
                /* ImgOverlayHTML +=     ' border-style: solid; border-width: 3px; border-color: darkblue; \" />' ; */
                ImgOverlayHTML +=     shipBorder ;
                ImgOverlayHTML +=     '\" />' ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* ship info */
                var shipInfoTextBoxFontSize, shipInfoTextBoxLineHeight ;
                var shipInfoTextBoxTopOffset, shipInfoTextBoxLeftOffset ;
                shipInfoTextBoxFontSize = 8 * webFrameScale  ;
                shipInfoTextBoxLineHeight = 0.8 * webFrameScale ;
                shipInfoTextBoxBottomOffset = 20 * webFrameScale;
                shipInfoTextBoxLeftOffset = 115 * webFrameScale;
                
                ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: '+shipInfoTextBoxBottomOffset+'px; left: '+shipInfoTextBoxLeftOffset+'px; z-index: 25; line-height: '+shipInfoTextBoxLineHeight+'; font-size: '+shipInfoTextBoxFontSize+'px; text-align: center; \">' ;
                //ImgOverlayHTML +=   '<div style=\"position: absolute; bottom: 20px; left: 115px; z-index: 25; line-height: 0.8;  font-size: 8px; text-align: center; \">' ;
                ImgOverlayHTML +=   '<p><span id="shipInfoTextBoxL1">'+localStorage.ShipInfoLine1+'</span></em>' ;
                ImgOverlayHTML +=   '<br><span id="shipInfoTextBoxL2">'+localStorage.ShipInfoLine2+'</span></em></p>' ;
                ImgOverlayHTML +=   '</div>' ;
        
                /* plaque */
        /* ###
                ImgOverlayHTML +=   '<p>'+localStorage.PlaqueLine1 ;
                ImgOverlayHTML +=   '<br>'+localStorage.PlaqueLine2 ;
                ImgOverlayHTML +=   '<br>'+localStorage.PlaqueLine3+'</p>' ;
           ### */ 
        /*
        */ 
                // ImgOverlayHTML +=   '<div' + webPlaqueDivStyle ;
                // ImgOverlayHTML +=     '<img src=' + webPlaqueImg + webPlaqueAttribs + webPlaqueStyle + '/>' ;
                // ImgOverlayHTML +=   '</div>' ;
                ImgOverlayHTML +=   '<div' + webPlaqueDivStyle ;

//                ImgOverlayHTML +=   '<p>In Appreciation Of' ; 
//                ImgOverlayHTML +=   '<br>the Initiative And Courage' ; 
//                ImgOverlayHTML +=   '<br>Of Those of Our Forebears' ; 
//                ImgOverlayHTML +=   '<br>Who First Crossed To America</p>' ;  
       
                numFilledPlaqueLines = 0 ;
                var showExtraLine = true ;
                ImgOverlayHTML +=   '<p>' ;
                if ((localStorage.PlaqueLine1 !== undefined) & (localStorage.PlaqueLine1 !== "undefined")) {
                   ImgOverlayHTML +=   '<span id="plaqueTextBoxL1">'+localStorage.PlaqueLine1+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                }
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<span id="plaqueTextBoxL1">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                if ((localStorage.PlaqueLine2 !== undefined) & (localStorage.PlaqueLine2 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL2">'+localStorage.PlaqueLine2+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                } 
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL2">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                if ((localStorage.PlaqueLine3 !== undefined) & (localStorage.PlaqueLine3 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL3">'+localStorage.PlaqueLine3+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                } 
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL3">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                if ((localStorage.PlaqueLine4 !== undefined) & (localStorage.PlaqueLine4 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL4">'+localStorage.PlaqueLine4+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                } 
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL4">'+' '+'</span></em>' ;
                   showExtraLine = false ;
                }
                if ((localStorage.PlaqueLine5 !== undefined) & (localStorage.PlaqueLine5 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL5">'+localStorage.PlaqueLine5+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                } 
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL5">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                if ((localStorage.PlaqueLine6 !== undefined) & (localStorage.PlaqueLine6 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL6">'+localStorage.PlaqueLine6+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                } 
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL6">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                if ((localStorage.PlaqueLine7 !== undefined) & (localStorage.PlaqueLine7 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL7">'+localStorage.PlaqueLine7+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                } 
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL7">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                if ((localStorage.PlaqueLine8 !== undefined) & (localStorage.PlaqueLine8 !== "undefined")) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL8">'+localStorage.PlaqueLine8+'</span></em>' ;
                   numFilledPlaqueLines++ ;               
                }                
                else if (showExtraLine) {
                   ImgOverlayHTML +=   '<br><span id="plaqueTextBoxL8">'+' '+'</span></em>' ;
                   showExtraLine = false ;
         
                }
                ImgOverlayHTML +=   '</p>' ;
 
                ImgOverlayHTML +=   '</div>' ;

                /* wrap up */
                ImgOverlayHTML += '</div>' ;
                
            console.log("ImgOverlayHTML="+ImgOverlayHTML) ;
            window.addEventListener('DOMContentLoaded', function () {
                document.getElementById("DisplayOverlays").innerHTML = ImgOverlayHTML;
            });
        // ]]>
        
        
                console.log("Preview Page:  OriginatingPage ="+OriginatingPage) ;
                console.log("               webMapStyle ="+webMapStyle) ;
                console.log("               webMapImg ="+webMapImg) ;
                console.log("               webShipImg ="+webShipImg) ;
                console.log("               webFrameStyleName ="+webFrameStyleName) ;
                console.log("               webFrameImg ="+webFrameImg) ;
                console.log("               webFrameAbbrv ="+webFrameAbbrv) ;
                console.log("               webFrameStyleName ="+webFrameStyleName) ;
        } /* function DisplayInitialRelationShipsMockup() */
            
        /* RelationShipsPreviewZ("initialView", "noFrame") */
        RelationShipsPreviewZ("mockup", "showFrame", "BuyButton", "SaveButton", "ReturnButton") ;
        // ]]></script>