<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {% if customer  %}
          {{ page.content }}
      {% else %}
     
      <h2>Please sign up for a RelationShips membership.</h2>
      <p>By joining the jimaworks community you will be indicating
         an appreciation not only for your personal family history,
      	 but also, implicitly, for America's founding through 
         some of history's greatest and most momentous migrations.
      	 </p>
      <p>Moreover, as a member of you will be eligible to receive:
        <br>
<!--
      - Special Deals and Discounts
        <br>
      - Downloadable, hints&amp; tips-annotated worksheet for RelationShips questions
        <br>
      - The jimaworks Newsletter
-->
      - Special Deals and Discounts
        <br>
        <!--    - Access to "Hints and Tips" pages <br> -->
      - Downloadable "Cheat Sheet" for RelationShips questions
        <br>
      - Renderings of your "StorySoFar" (with product mockups)
        <br>
      - The occasional jimaworks newsletter
        <br>
      - Soon: a "Save and Come Back Later" button" ;
       </p>
      <h3>We hope you join us.</h3>

        {{ 'Log in' | customer_login_link }}
        {% if shop.customer_accounts_optional %}
          <span>or</span>
          {{ 'Create an account' | customer_register_link }}
        {% endif %}
      {% endif %}
    </div>

  </div>

</div>
