<!--
  RelationShips Preview Redux
  Original Author: Hugh Guiney <hugh@hughguiney.com>
  Body font size for rem calculations: 16px
-->
<style>
  /*
    Maintian aspect ratio for map
    Source: https://css-tricks.com/aspect-ratio-boxes/#article-header-id-6
  */
  .aspect-ratio:before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
  }
  .aspect-ratio:after { /* to clear float */
    content: "";
    display: table;
    clear: both;
  }

  .jw-relationships-preview-container {
    margin: 0;
  }

  .jw-relationships-preview,
  [class$="__text"] {
    font-size: 10px;
    font-size: .625rem;
  }

  .jw-relationships-preview {
    box-sizing: border-box;    
    max-width: 100%;
    background-color: #fff8d2;
    line-height: 1.25;
    margin-right: auto;
    /* padding: 10px; */
    padding: .625rem;
    display: flex;
    flex-direction: row;
    min-width: 500px;
    min-width: 31.25rem;
    margin-bottom: 0;
  }
    .jw-relationships-preview.aspect-ratio:before {
      padding-top: calc(3561/4407 * 100%);
    }

    /* Applies to all frames */
    .jw-relationships-preview[class*="jw-relationships-preview--frame"] {
      /* border-image-width: 60px; */
      border-image-width: 3.75rem;
      /* padding: 90px 90px 66.666px; */
      padding: 5.625rem 5.625rem 4.166625rem;
      border-image-outset: 0;
      border-image-repeat: stretch stretch;
      border-style: solid;
    }

    /* Gold Trim */
    .jw-relationships-preview.jw-relationships-preview--frame-gold-trim,
    .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-gem,
    .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-small,
    .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-medium,
    .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-large {
      border-image-slice: 470;
      border-image-source: url(https://cdn.shopify.com/s/files/1/1336/0641/files/GoldRatio-Med-Gold-NoRuler-72ppi.png);
    }
      .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-gem {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Gem-GoldTrim-Ruler.png?v=1579321684);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-small {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Small-GoldTrim-Ruler.png?v=1579321685);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-medium {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Medium-GoldTrim-Ruler.png?v=1579321687);
      }
      /* Currently unavailable due to malformed PNG */
      /* .jw-relationships-preview.jw-relationships-preview--frame-gold-trim-large {
        border-image-source: url();
      } */

    /* Light Cherry */
    .jw-relationships-preview.jw-relationships-preview--frame-light-cherry,
    .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-gem,
    .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-small,
    .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-medium,
    .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-large {
      border-image-slice: 460 450 460 450;
      border-image-source: url(https://cdn.shopify.com/s/files/1/1336/0641/files/GoldRatio-Med-Cherry-NoRuler-72ppi.png);
    }
      .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-gem {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Gem-LightCherry-Ruler.png?v=1579321681);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-small {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Small-LightCherry-Ruler.png?v=1579321683);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-medium {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Medium-LightCherry-Ruler.png?v=1579321684);
      }
      /* Currently unavailable due to malformed PNG */
      /* .jw-relationships-preview.jw-relationships-preview--frame-light-cherry-large {
        border-image-source: url();
      } */      

    /* Black Roped */
    .jw-relationships-preview.jw-relationships-preview--frame-black-roped,
    .jw-relationships-preview.jw-relationships-preview--frame-black-roped-gem,
    .jw-relationships-preview.jw-relationships-preview--frame-black-roped-small,
    .jw-relationships-preview.jw-relationships-preview--frame-black-roped-medium,
    .jw-relationships-preview.jw-relationships-preview--frame-black-roped-large {
      border-image-slice: 406 410 406 410;
      border-image-source: url(https://cdn.shopify.com/s/files/1/1336/0641/files/GoldRatio-Med-Black-NoRuler-72ppi.png);
    }
      .jw-relationships-preview.jw-relationships-preview--frame-black-roped-gem {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Gem-BlackRoped-Ruler.png?v=1579321681);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-black-roped-small {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/Small-BlackRoped-Ruler.png?v=1579321683);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-black-roped-medium {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Medium-BlackRoped-Ruler.png?v=1579321684);
      }
      /* Currently unavailable due to malformed PNG */
      /* .jw-relationships-preview.jw-relationships-preview--frame-black-roped-large {
        border-image-source: url();
      } */

    /* Black Walnut */
    /* Comes last to serve as default while other classes are preloaded */
    .jw-relationships-preview.jw-relationships-preview--frame-black-walnut,
    .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-gem,
    .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-small,
    .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-medium,
    .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-large {
      border-image-slice: 433 444 433 466;
      border-image-source: url(https://cdn.shopify.com/s/files/1/1336/0641/files/GoldRatio-Med-Walnut-NoPlaque-NoRuler-72ppi.png);
    }
      .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-gem {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Gem-BlackWalnut-Ruler.png?v=1579321685);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-small {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Small-BlackWalnut-Ruler.png?v=1579321686);
      }
      .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-medium {
        border-image-source: url(https://cdn.shopify.com/s/files/1/0263/8148/4080/files/Medium-BlackWalnut-Ruler.png?v=1579321687);
      }
      /* Currently unavailable due to malformed PNG */
      /* .jw-relationships-preview.jw-relationships-preview--frame-black-walnut-large {
        border-image-source: url();
      } */


  .jw-relationships-preview__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  [class$="__text"] {
    color: #111;
    /* text-shadow: 1px 1px 0 ivory; */
    text-shadow: .0625rem .0625rem 0 ivory;
    margin: 0 !important;
  }
    @media only screen and (min-width: 940px) {
      [class$="__text"] {
        font-size: .8rem;
      }
    }

  .jw-title {
    text-align: center;
  }
    .jw-title__text {
      font-family: inherit;
      border: none;
      padding: 0;
    }

  .jw-route {
    position: relative;
    /* height: 46px; */
    height: 2.875rem;
  }
    .jw-route__origin,
    .jw-route__destination {
      /* position: absolute; */
      display: inline-block;
      vertical-align: top;
      /* top: 62.5%; */
      transition: .125s linear top, .125s linear left, .125s linear right;
    }
    .jw-route__origin {
      text-align: right;
      right: 0;
    }
    .jw-route__destination {
      left: 0;
    }
    @media only screen and (min-width: 940px) {
      .jw-route__origin,
      .jw-route__destination {
        top: 125%;
      }
    }
    @media only screen and (min-width: 1200px) {
      .jw-route__origin,
      .jw-route__destination {
        top: 250%;
      }
      .jw-route__origin {
        right: 16%;
      }
      .jw-route__destination {
        left: 16%;
      }
    }

  .jw-map {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    /* border: 3px solid #ad4448; */
    border: .1875rem solid #ad4448;
    /* padding: 10px; */
    /* padding: .625rem; */
    /* min-height: 202px; */
    min-height: 12.625rem;
    width: 100%;
    position: relative;
    flex: 1;
  }
    .jw-map.jw-map--paris-sage {
      background-image: url(https://cdn.shopify.com/s/files/1/1336/0641/files/EuM-Liner-Pari.png);
    }
    .jw-map.jw-map--color-empress-teal {
      background-image: url(https://cdn.shopify.com/s/files/1/1336/0641/files/EuM-Liner-Empr.png);
    }
    .jw-map.jw-map--color-palace-rosa {
      background-image: url(https://cdn.shopify.com/s/files/1/1336/0641/files/EuM-Liner-Pala.png);
    }
    .jw-map.jw-map--color-sea-spray-blue {
      background-image: url(https://cdn.shopify.com/s/files/1/1336/0641/files/EuM-Liner-SeaS.png);
    }
    .jw-map.jw-map--color-mayan-glow {
      background-image: url(https://cdn.shopify.com/s/files/1/1336/0641/files/EuM-Liner-Maya.png);
    }
    .jw-map.aspect-ratio:before {
      padding-top: calc(1151/1850 * 100%);
    }
    .jw-map__row + .jw-map__row {
      /* margin-top: 10px; */
      margin-top: .625rem;
    }
  
  .jw-ship {
    text-align: center;
    /* position: absolute; */
    /* bottom: 10px; */
    /* bottom: .625rem; */
    /* width: 98%; */
    /* width: calc(100% - (0.625rem * 2)); */
    /* width: 100%; */
  }
    .jw-ship__image-container {
      width: 100%;
      position: absolute;
      /* display: block; */
      bottom: 17%;
    }
    .jw-ship__image {
      margin: 0 auto; /* !important; */
      display: block;
      /* max-width: 50% !important; */
    }

    /*
      jimaworks-made SailShips.

      Using the map image/mat opening as the reference:

      The bottom of the ship image:
      • Should be 17% from the map/opening bottom.

      The width of the ship image:
      • Should be 40% of the map/opening width
    */
    .jw-ship__image.jw-ship__image--jimaworks-made-sail {
      width: 40%; /* TODO: of map, not parent */
    }
    .jw-ship__image.jw-ship__image--jimaworks-made-steam-sail {
      width: 65%;
    }
    .jw-ship__image.jw-ship__image--jimaworks-made-steam {
      width: 75%;
    }
    .jw-ship__image.jw-ship__image--historic-landscape {
      width: 55%;
    }
    .jw-ship__image.jw-ship__image--historic-portrait {
      width: 55%;
    }

    .jw-ship__info {
      width: 100%;
      height: 17%; /* Must match `bottom` of .jw-ship__image-container */
      position: absolute;
      bottom: 0%;
      display: flex; /* TODO: vendor prefix */
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

  .jw-plaque {
    /* border: 3px solid #ad4448; */
    border: .1875rem solid #ad4448;
    background-color: #ecc37e;
    text-align: center;
    max-width: 50%;
    /* max-height: 70px; */
    max-height: 4.375rem;
    overflow: auto;
    /* margin: 10px auto 0; */
    margin: .625rem auto 0;
    /* padding: 2.5px; */
    padding: .15625rem;
  }
    .jw-plaque.aspect-ratio:before {
      padding-top: calc(298/640 * 100%);
    }
    @media only screen and (min-width: 940px) {
      .jw-plaque {
        max-height: 5.8333rem;
      }
    }

  .jw-relationships-preview-container [id] {
    transition: all .5s linear; /* slow unhighlight */
  }

  .jw-title,
  .jw-route__destination,
  .jw-route__origin,
  /* .jw-ship__image-container, */
  .jw-plaque {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .jw-info {
    /* box-shadow: 0 0 10px #05537a; */
    box-shadow: 0 0 .625rem #05537a;
    cursor: default;
  }

  .jw-highlighted {
    /* box-shadow: 0 0 10px #05537a; */
    box-shadow: 0 0 .625rem #05537a;
    transform: scale(1.5);
    transition: all .25s linear; /* fast highlight */
    line-height: 1.25;
    z-index: 999999;
  }
    .jw-highlighted.jw-highlighted--alter-box-style {
      /* padding: 10px; */
      padding: .625rem;
      background-color: rgba(255,255,255,0.75);
      /* border: 1px solid #05537a; */
      border: .0625rem solid #05537a;
    }
    .jw-highlighted.jw-highlighted--retain-size {
      transform: none;
    }

  .jw-relationships-preview-disclaimer {
    font-style: italic;
  }

  /* --- Tour Styles --- */
  /*
    These styles don’t directly apply to the Preview, but to complementary components.
    TODO: Find a better home for them.
  */
  .jw-skip-to-project {
    display: inline-block;
    height: 32px;
    padding: 1px 7px 2px;
    /* background-color: white; */
  }

  .jw-link-button {
    color: white;
    background-color: #0081a3;
    padding: 1rem;
    border-radius: 0.3rem;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  }
    .jw-link-button:hover,
    .jw-link-button:focus,
    .jw-link-button:active {
      color: white;
      background-color: #006d8a;
    }
    .jw-link-button:active {
      top: 2px;
      left: 2px;
      box-shadow: 0 0 2px rgba(0,0,0,0.25);
    }

  .jw-more-info-link {
    font-size: 110%;
  }

  /* .jw-modal {} */

  .jw-relationships-tour {
    margin-bottom: 0;
  }
  
  .jw-relationships-tour__actions {
    margin-bottom: .75rem;
  }

  .jw-relationships-tour__content {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
    margin: 0;
    transition: .125s linear width, .125s linear margin;
    width: 100%;
    max-width: 100%;
  }
    /* .jw-relationships-tour__content.jw-relationships-tour__content--active {} */
    @media only screen and (min-width: 940px) {
      .jw-relationships-tour__content.jw-relationships-tour__content--active {
        flex-direction: row;
        margin: 0 -25%;
        min-width: 90vw;
      }
    }

  .jw-relationships-tour__map {
    flex: 1;
  }

  .jw-relationships-tour__sidebar {
    flex: .5;
    transition: .125s ease height;
    height: 0;
    display: none;
  }
    @media only screen and (min-width: 940px) {
      .jw-relationships-tour__sidebar {
        padding-left: 1rem;
      }
    }
    .jw-relationships-tour__sidebar.jw-relationships-tour__sidebar--active {
      display: block;
      height: auto;
    }

  .jw-relationships-tour__navigation {
    margin-bottom: .75rem;
  }

  .jw-tour {
    height: 0;
    transition: .125s ease height;
    overflow: hidden;
  }
    @media only screen and (min-width: 940px) {
      .jw-tour {
        transition: none;
      }
    }

  .jw-tour__descriptions {
    transition: .125s linear height;
    position: relative;
  }
    .jw-tour__description {
      opacity: 0;
      transition: .125s ease opacity;
      position: absolute;
      top: 0;
    }
    .jw-tour__description.jw-tour__description--active {
      opacity: 1;
      z-index: 999999;
    }

  .--expanded {
    height: 100%;
  }

  .jw-tour__actions {
    position: relative;
    z-index: 9999;
  }
  /* .jw-tour__action {} */
  .--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .jw-relationships-tour__enter-exit {
    transition: .125s ease width;
  }
</style>
<div class="jw-relationships-preview-container">
  <article id="frame" class="
    jw-relationships-preview
    jw-relationships-preview--frame-black-walnut
    aspect-ratio
  ">
    <div class="jw-relationships-preview__content">
      <div id="map-background" class="jw-map jw-map--paris-sage">
        <hgroup id="title-text-box" class="jw-title jw-map__row">
          <h3 class="jw-title__text">The Family Crossing: First Generation</h3>
          <h3 class="jw-title__text" role="presentation">A Thread in the Great Tapistry that is America</h3>
          <h3 class="jw-title__text" role="presentation"></h3>
        </hgroup>
        <div class="jw-route jw-map__row">
          <div id="destination-text-box" class="jw-route__destination">
            <p class="jw-route__text">Arrival: A New World Port</p>
            <p class="jw-route__text">Destiny: An American Lineage</p>
          </div>
          <div id="origins-text-box" class="jw-route__origin">
            <p class="jw-route__text">Origin: The Old World</p>
            <p class="jw-route__text">Crossing: The North Atlantic</p>
          </div>
        </div>
        <div class="jw-map__row"><!-- .jw-ship -->
          <div id="ship" class="jw-ship__image-container">
            <img class="jw-ship__image" src="https://cdn.shopify.com/s/files/1/1336/0641/files/jimaworksStPaul640.png" alt="Ship" />
          </div>
          <div id="ship-info-text-box" class="jw-ship__info">
            <p class="jw-ship__text">Typical Ship of this Era: 1200 Passengers</p>
            <p class="jw-ship__text">Typical Duration of Crossing: Two Weeks</p>
          </div>
        </div>
      </div>
      <div id="webPlaqueTextBoxDiv" class="jw-plaque">
        <p class="jw-plaque__text">In Appreciation of</p>
        <p class="jw-plaque__text">the Initiative and Courage of</p>
        <p class="jw-plaque__text">Our Forebears Who First Crossed to America</p>
        <p class="jw-plaque__text">#4</p>
        <p class="jw-plaque__text">#5</p>
        <p class="jw-plaque__text">#6</p>
        <p class="jw-plaque__text">#7</p>
        <p class="jw-plaque__text">#8</p>
      </div>
    </div>
  </article>
  <p class="jw-relationships-preview-disclaimer">Mockup only. Final product may differ in appearance.</p>
</div>
<script>
  console.warn('RelationShips Preview Redux initialized');

  var $ship = document.getElementById( 'ship' );
  var $shipImage = $ship.querySelector( '.jw-ship__image' );
  var defaultShipImage = 'jimaworksStPaul640.png';
  var shipImagery = {
    "jimaworksMade": [
      {
        "ID": "Savannah(1818-1821)",
        "name": "Savannah",
        "era": "EraOfTheSteamSailShip(1840-1915)",
        "operator": "Holland-America",
        "class": "PsgLiner",
        "careerStart": 1818,
        "careerEnd": 1821,
        "totalPsgrs": 270.643,
        "imagery": "Savannah_1818-1821_jimaworksmade300ppi.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": null,
        "perCountryPsgrs": {
          "GB": 5,
          "BL": 10,
          "NL": 65,
          "DE": 10,
          "Other": 10
        },
        "shipsRoutes": "*Any*",
      },
      {
        "ID": "NieuwAmsterdam(1905-1932)",
        "name": "Nieuw Amsterdam",
        "era": "EraOfThePassengerLiner(1895-1970)",
        "operator": "Holland-America",
        "class": "PsgLiner",
        "careerStart": 1905,
        "careerEnd": 1932,
        "totalPsgrs": 270.643,
        "imagery": "NieuwAmsterdam_1905-1932_jimaworksmade72ppi.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": null,
        "perCountryPsgrs": {
          "GB": 5,
          "BL": 10,
          "NL": 65,
          "DE": 10,
          "Other": 10
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Maasdam(1952-1968)",
        "name": "Maasdam",
        "era": "EraOfThePassengerLiner(1895-1970)",
        "operator": "Holland-America",
        "class": "PsgLiner",
        "careerStart": 1952,
        "careerEnd": 1968,
        "totalPsgrs": 270.643,
        "imagery": "Maasdam_1952-1968_jimaworksmade72ppi.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": null,
        "perCountryPsgrs": {
          "GB": 5,
          "BL": 10,
          "NL": 65,
          "DE": 10,
          "Other": 10
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Savannah(1962-1972)",
        "name": "Savannah",
        "era": "EraOfThePassengerLiner(1895-1970)",
        "operator": "US Maritme Commission",
        "class": "PsgLiner",
        "careerStart": 1962,
        "careerEnd": 1972,
        "totalPsgrs": 270.643,
        "imagery": "Savannah_1962-1972_jimaworksmade72ppi.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": null,
        "perCountryPsgrs": {
          "GB": 5,
          "BL": 10,
          "NL": 65,
          "DE": 10,
          "Other": 10
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "St.Paul",
        "name": "St.Paul",
        "era": "EraOfThePassengerLiner(1895-1970)",
        "operator": "American",
        "class": "PsgLiner",
        "careerStart": 1895,
        "careerEnd": 1923,
        "totalPsgrs": 95,
        "imagery": "jimaworksStPaul640.png",
        "background": "transparent",
        "imageClassification": "steam-sail"
      },
      {
        "ID": "Ryndam",
        "name": "Ryndam",
        "era": "EraOfThePassengerLiner(1895-1970)",
        "operator": "Holland-America",
        "class": "PsgLiner",
        "careerStart": 1951,
        "careerEnd": 1966,
        "totalPsgrs": 270.643,
        "imagery": "Ryndam_1951-1970_-mdlrend.png",
        "background": "transparent",
        "imageClassification": "steam-sail"
      }
    ],
    "knownShipPlaceholders": [
      {
        "ID": "Known Ship placeholder (1565-1790)",
        "name": "Known Ship placeholder (1565-1790)",
        "era": "ColonialAndEarlyIndependenceEra(1607-1840)",
        "operator": "Unk",
        "class": "Flute",
        "careerStart": 1585,
        "careerEnd": 1790,
        "totalPsgrs": 300,
        "imagery": "EarlySailKnownShipIconLabeled.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": "",
        "perCountryPsgrs": {
          "Other": 100
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Known Ship placeholder (1790-1850)",
        "name": "Known Ship placeholder (1790-1850)",
        "era": "EraOfModernSail(1790-1890)",
        "operator": "Unk",
        "class": "3MastedMerchant",
        "careerStart": 1790,
        "careerEnd": 1850,
        "totalPsgrs": 800,
        "imagery": "ModernSailKnownShipIconLabeled.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": "",
        "perCountryPsgrs": {
          "Other": 100
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Known Ship placeholder (1850-1890)",
        "name": "Known Ship placeholder (1850-1890)",
        "era": "EraOfTheSteamSailShip(1840-1915)",
        "operator": "Unk",
        "class": "SteamSail",
        "careerStart": 1850,
        "careerEnd": 1890,
        "totalPsgrs": 1000,
        "imagery": "SteamSailKnownShipIconLabeled.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": "",
        "perCountryPsgrs": {
          "Other": 100
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Known Ship placeholder (1890-1920)",
        "name": "Known Ship placeholder (1890-1920)",
        "era": "EraOfThePassengerLiner(1890-1920)",
        "operator": "Unk",
        "class": "SteamShip",
        "careerStart": 1890,
        "careerEnd": 1920,
        "totalPsgrs": 2500,
        "imagery": "ClassicPssgrLinerKnownShipIconLabeled.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": "",
        "perCountryPsgrs": {
          "Other": 100
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Known Ship placeholder (1920-1970)",
        "name": "Known Ship placeholder (1920-1970)",
        "era": "EraOfThePassengerLiner(1920-1970)",
        "operator": "Unk",
        "class": "MotorShip",
        "careerStart": 1920,
        "careerEnd": 1970,
        "totalPsgrs": 800,
        "imagery": "PssgrLinerKnownShipIconLabeled.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": "",
        "perCountryPsgrs": {
          "Other": 100
        },
        "shipsRoutes": "*Any*"
      },
      {
        "ID": "Known Ship placeholder (1945-Present)",
        "name": "Known Plane placeholder (1945-Present)",
        "era": "EraOfAirTravel(1945-Present)",
        "operator": "Unk",
        "class": "Airplane",
        "careerStart": 1945,
        "careerEnd": 2020,
        "totalPsgrs": 1500,
        "imagery": "AgeOfAirTravelKnownPlaneIconLabeled.png",
        "background": "transparent",
        "imageClassification": "steam-sail",
        "sources": "",
        "perCountryPsgrs": {
          "Other": 100
        },
        "shipsRoutes": "*Any*"
      },
      // Missing in original dataset
      {
        "imagery": "Europa_1920-1960_-postcd.jpg",
        "imageClassification": "jimaworks-made-steam-sail", //"steam-sail" // TODO: verify
      }
    ]
  };
  var shipImageClassifications = [
    'jimaworks-made-steam-sail',
    'jimaworks-made-sail',
    'jimaworks-made-steam',
    'historic-landscape',
    'historic-portrait'
  ];

  function updateShipImage( $shipImage, shipImageFileName ) {
    console.log('updateShipImage');
    if ( typeof shipImageFileName !== "string" ) {
      shipImageFileName = shipImageFileName.toString();
    }

    var newShipImageClassification = getShipImageClassification( shipImageFileName );

    console.log( 'newShipImageClassification', newShipImageClassification );

    if ( newShipImageClassification ) {
      $shipImage.src = ( window.Jimaworks.shopifyFilePrefix + shipImageFileName );
      applyShipImageClasses( $shipImage, newShipImageClassification );
    } else {
      console.error( 'Couldn’t get ship image classification for', shipImageFileName );
    }
  }

  function getShipImageClassification( shipImageFileName ) {
    for ( var i = 0; i < shipImagery.jimaworksMade.length; i++ ) {
      var shipImage = shipImagery.jimaworksMade[i];
      
      if ( shipImage.hasOwnProperty( 'imagery' ) && ( shipImage.imagery === shipImageFileName ) ) {
        return shipImage.imageClassification;
      }
    }

    for ( var i = 0; i < shipImagery.knownShipPlaceholders.length; i++ ) {
      var shipImage = shipImagery.knownShipPlaceholders[i];

      if ( shipImage.hasOwnProperty( 'imagery' ) && ( shipImage.imagery === shipImageFileName ) ) {
        return shipImage.imageClassification;
      }
    }

    return null;
  }

  function applyShipImageClasses( $shipImage, shipImageClassification ) {
    var classNameModifierBase = 'jw-ship__image--';
    var classNameModifierBaseRegex = new RegExp( classNameModifierBase );
    var newClassName = ( classNameModifierBase + shipImageClassification );

    if ( classNameModifierBaseRegex.test( $shipImage.className ) ) {
      for ( var index = 0; index < shipImageClassifications.length; index++ ) {
        var className = ( classNameModifierBase + shipsImageClassifications[index] );
        
        $shipImage.classList.remove( className );
      }
    }

    $shipImage.classList.add( newClassName );
  }

  var savedShipImage = localStorage.getItem( 'shipPic' );

  console.log( 'savedShipImage', savedShipImage );
  console.log( 'defaultShipImage', defaultShipImage );

  if ( savedShipImage && ( savedShipImage !== defaultShipImage ) ) {
    updateShipImage( $shipImage, savedShipImage );
  }
</script>