<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="rte">
      {% if customer  %}
        <script type="text/javascript">
          var GetStartedPage = "https://jimaworks.com/pages/my-relationships-project";
          window.location.assign(GetStartedPage);
		</script>
      {% else %}
        {{ page.content }}
   	  {% endif %}
    </div>

  </div>

</div>
