<header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
</header>

<div class="rte">
    <!--  galleries/Crossing Stories
      https://jimaworks.com/pages/galleries
      template:  page.full-width
      Title: Crossing Stories

      ... ~ Feb 28 2019 Title change from "Gallery" to "Other's Stories"
      ... ~ Mar 07 2019 Title change from "Other's Stories" to "Crossing Stories"
      Mar 10 2019:1000  Word-smithings. Larger dark red leader, highlight frames and map backgrounds
      Mar 14 2019:1600  Replace ShipBucket examples with Wiki image examples
      Jan 23 2020:1715 Change href=relationships page and prompt to href=javascript:history.back()' and prompt "to return"
  -->
<div class="gallery_pjf">
    <p><span style="font-size: x-large; color: darkred;"> Click through examples to see commemorations that show different frames and map backgrounds, <br /> and accommodate uncertain origins, dates, ships, routes, people, ages, and destinations.</span></p>
    005EraOfTheAirlinerCustom1992BlackRoped.png
    <table>
    <tbody>
    <tr>
    <td>Map Styles:</td>
    <td>Mayan Glow</td>
    <td>Palace Rosa</td>
    <td>SeaSpray Blue</td>
    <td>Paris Sage</td>
    <td>Empress Teal</td>
    <td>Custom</td>
    </tr>
    <tr>
    <td>1600's-1810's Colonial</td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1630MayanGlowWinthrop_1024x1024.png?v=1512276856" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1630MayanGlowWinthrop_1024x1024.png?v=1512276856" alt="" width="342" height="266" /> </a></td>
    <!--
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1730sPalaceRosaDutchFlute_1024x1024.png?v=1512276851" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1730sPalaceRosaDutchFlute_1024x1024.png?v=1512276851" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1730sPalaceRosaBritMerchant.png?83" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1730sPalaceRosaBritMerchant.png?83" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1784sSeaSprayBlueMerchant_1024x1024.png?v=1512276856" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1784sSeaSprayBlueMerchant_1024x1024.png?v=1512276856" alt="" width="342" height="266" /> </a></td>
    <!--
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1794ParisSageSnowBlackRoped_1024x1024.png?v=1512276855" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1794ParisSageSnowBlackRoped_1024x1024.png?v=1512276855" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 50px; text-align: left; width: 20%;"><a href="https://cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1794ParisSageGAleBlkWalnut.png?84" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="https://cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1794ParisSageGAleBlkWalnut.png?84" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1815EmpressTealRomantic_1024x1024.png?v=1512276852" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1815EmpressTealRomantic_1024x1024.png?v=1512276852" alt="" width="342" height="266" /> </a></td>
    <td style="height: 100px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1754CustomSlaver_1024x1024.png?v=1512276855" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/001Col_IndepEra1754CustomSlaver_1024x1024.png?v=1512276855" alt="" width="342" height="266" /> </a></td>
    </tr>
    <tr>
    <td>1820's-1880's Modern Sail</td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1835MayanGlowStrom_1024x1024.png?v=1512300472" alt="StormyCrossingMayanGlowMapEraOfModernSail" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1835MayanGlowStrom_1024x1024.png?v=1512300472" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1850PalaceRosaIndiamanBlackRoped_1024x1024.png?v=1512300684" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1850PalaceRosaIndiamanBlackRoped_1024x1024.png?v=1512300684" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1860SeaSprayBlueLoneShipBlkWalnut_1024x1024.png?v=1512300845" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1860SeaSprayBlueLoneShipBlkWalnut_1024x1024.png?v=1512300845" alt="" width="342" height="266" /> </a></td>
    <!--
        <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1870ParisSageStadtAmsterdamBlackRoped_1024x1024.png?v=1512300923" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1870ParisSageStadtAmsterdamBlackRoped_1024x1024.png?v=1512300923" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1870ParisSageForestMonarchBlackRoped.png?82" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1870ParisSageForestMonarchBlackRoped.png?82" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1885EmpressTealMenaiStraitsCherry_1024x1024.png?v=1512300985" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1885EmpressTealMenaiStraitsCherry_1024x1024.png?v=1512300985" alt="" width="342" height="266" /> </a></td>
    <td style="height: 100px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1885CustomDuboisBlkWalnut_1024x1024.png?v=1512301038" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/002EraOfModernSail1885CustomDuboisBlkWalnut_1024x1024.png?v=1512301038" alt="" width="342" height="266" /> </a></td>
    </tr>
    <tr>
    <td>1840's-1910's Sail and Steam</td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1845MayanGlowBritainiaGold_1024x1024.png?v=1512309422" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1845MayanGlowBritainiaGold_1024x1024.png?v=1512309422" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1860PalaceRosaPresidenBlackRoped_1024x1024.png?v=1512309315" alt="StormyCrossingMayanGlowMapEraOfModernSail" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1860PalaceRosaPresidenBlackRoped_1024x1024.png?v=1512309315" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1877SeaSprayBlueGrBritainCherry_1024x1024.png?v=1512309539" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1877SeaSprayBlueGrBritainCherry_1024x1024.png?v=1512309539" alt="" width="342" height="266" /> </a></td>
    <!--
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892ParisSageSutherlandBlkWalnut_1024x1024.png?v=1512309589" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892ParisSageSutherlandBlkWalnut_1024x1024.png?v=1512309589" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892ParisSageSutherlandBlkWalnut_1024x1024.png?v=1512309589" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892ParisSageSutherlandBlkWalnut_1024x1024.png?v=1512309589" alt="" width="342" height="266" /> </a></td>
    <!--
        <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892EmpressTealGrtBritainGold_1024x1024.png?v=1512309642" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892EmpressTealGrtBritainGold_1024x1024.png?v=1512309642" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892EmpressTealTeresaGold.png?87" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1892EmpressTealTeresaGold.png?87" alt="" width="342" height="266" /> </a></td>
    <!--
    <td style="height: 100px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1849CustomGrtBritainBlackRoped_1024x1024.png?v=1512309690" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1849CustomGrtBritainBlackRoped_1024x1024.png?v=1512309690" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 100px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1849CustomTheUSBlackRoped.png?85" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/003EraOfSteamAndSail1849CustomTheUSBlackRoped.png?85" alt="" width="342" height="266" /> </a></td>
    </tr>
    <tr>
    <td>1890's-1960's Era of the Passenger Liner</td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1907MayanGlowStPetersburgBlackRoped_1024x1024.png?v=1512310015" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1907MayanGlowStPetersburgBlackRoped_1024x1024.png?v=1512310015" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1909PalaceRosaKroonlandCherry_1024x1024.png?v=1512310068" alt="StormyCrossingMayanGlowMapEraOfModernSail" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1909PalaceRosaKroonlandCherry_1024x1024.png?v=1512310068" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1910SeaSprayBlueBremenBlackRoped_1024x1024.png?v=1512310127" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1910SeaSprayBlueBremenBlackRoped_1024x1024.png?v=1512310127" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1924ParisSageItalLinerGold_1024x1024.png?v=1512310178" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1924ParisSageItalLinerGold_1024x1024.png?v=1512310178" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1958EmpressTealMaasdamCherry_1024x1024.png?v=1512310226" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/004EraOfThePassengerLiner1958EmpressTealMaasdamCherry_1024x1024.png?v=1512310226" alt="" width="342" height="266" /> </a></td>
    <td style="height: 100px; text-align: left; width: 20%;"><a href="https://cdn.shopify.com/s/files/1/1336/0641/files/UnitedStates_1952-1969_-POSTCARD-Black-MayanGlow-72ppi.png" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="https://cdn.shopify.com/s/files/1/1336/0641/files/UnitedStates_1952-1969_-POSTCARD-Black-MayanGlow-72ppi.png?66" alt="" width="342" height="266" /> </a></td>
    </tr>
    <tr>
    <td>1950's-Present. Era of Air Travel</td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerMayanGlow1946BlkWalnut_1024x1024.png?v=1512310764" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerMayanGlow1946BlkWalnut_1024x1024.png?v=1512310764" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerPalaceRosa1952BlackRoped_1024x1024.png?v=1512310889" alt="StormyCrossingMayanGlowMapEraOfModernSail" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerPalaceRosa1952BlackRoped_1024x1024.png?v=1512310889" alt="" width="342" height="266" /> </a></td>
    <!--
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerSeaSprayBlue1965Gold_large.png?v=1512310943" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerSeaSprayBlue1965Gold_large.png?v=1512310943" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerParisSage1975Gold_1024x1024.png?v=1512310990" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerParisSage1975Gold_1024x1024.png?v=1512310990" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerEmpressTeal1992Cherry_1024x1024.png?v=1512311051" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerEmpressTeal1992Cherry_1024x1024.png?v=1512311051" alt="" width="342" height="266" /> </a></td>
    <td style="height: 100px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerCustom1992Cherry_1024x1024.png?v=1512311096" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerCustom1992Cherry_1024x1024.png?v=1512311096" alt="" width="342" height="266" /> </a></td>
    -->
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerSeaSprayBlue1965BlkWalnut.png?81" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerSeaSprayBlue1965BlkWalnut.png?81" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerParisSage1975Gold2.png?81" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerParisSage1975Gold2.png?81" alt="" width="342" height="266" /> </a></td>
    <td style="height: 50px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerEmpressTeal1992BlackRoped.png?81" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerEmpressTeal1992BlackRoped.png?81" alt="" width="342" height="266" /> </a></td>
    <td style="height: 100px; text-align: left; width: 20%;"><a href="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerCustom1992BlackRoped.png?81" data-lightbox="jimaworks-gallery" data-title="&lt;a href='javascript:history.back()'&gt;Click here&lt;/a&gt; to return"> <img src="//cdn.shopify.com/s/files/1/1336/0641/files/005EraOfTheAirlinerCustom1992BlackRoped.png?81" alt="" width="342" height="266" /> </a></td>
    </tr>
    </tbody>
    </table>
    <p>(any type of ship may be combined with any style of map)</p>
    <p>(All entries except my own have been fictionalized - jima)<br /><br /></p>
    </div>
    <div style="width: 100%; clear: both; padding-top: 20px;">
        <a href="https://jimaworks.com/pages/001-tour-page">
            <div style="float: left; 
                display: inline-block; 
                background-color: #ffffff; 
                border: 1px solid #FF0000; 
                padding: 5px; margin: 0 3px;">
                <b>RelationShips </b>
            </div>
        </a>
    </div>
</div>
